.main {
  background-color: var(--lightGrey);
  height: 90vh;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid var(--grey);
}

.main.dark {
  background-color: var(--greyBlack);
}

.main.open {
  width: 150px;
}

.main > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
}

.logo {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo > h3 {
  display: none;
}

.menu_item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 300ms ease;
}

.menu_item:hover {
  background-color: var(--grey500);
}

.menu_item.active {
  border-right: 3px solid var(--success);
}

/* .menu_item.dark {
  background-color: var(--white);
} */

.menu_item > p {
  display: none;
  text-transform: capitalize;
}

.menu_item.open > p {
  display: block;
}

.menu_item.open {
  justify-content: flex-start;
}

.theme {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
  border-radius: 30px;
  cursor: pointer;
}

.theme.open {
  flex-direction: row;
}

.theme > article {
  width: 30px;
  aspect-ratio: 1;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--grey);
}

.theme > .active {
  background-color: var(--mintGreen);
  color: var(--white);
}

@media screen and (min-width: 700px) {
  .logo {
    justify-content: flex-start;
  }

  /* .logo > h3 {
    display: block;
  } */
}
